.main {
  max-height: 50.25rem;
  background-image: url('/information-bg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-character {
  position: absolute;
  bottom: 0;
  right: 3rem;
  transform: scaleX(-1);
  max-width: 471px;
  max-height: 655px;
  width: 100%;
  height: 100%;
}

.characters-banner {
  padding-top: 10rem;
}

@media (max-width: 1440px) {
  .characters-banner {
    padding-top: 8rem;
  }
}
